.head {
	width: 100%;
	background: #0797C6;
	height: 520px;
	background: url('/img/head.jpg') no-repeat;
	background-size: 100%;
    border-bottom: solid #9c8888 2px;
}
.head .head-content {
	width: 1200px;
	height: 520px;
	line-height: 520px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}	
.head h3 {
	color: #fff;
	position: absolute;
	left: 20%;
	bottom: -20%;
}
.container {
	width: 666.6px;
	min-height: 800px;
	margin: 0 auto;
}
.lead {
	font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.rectangle{
	width: 0;
	height: 0;
	border: 5px solid #000; 
}
.date {
	color: blue;
	font-size: 13px;
}
.siamess-left {
	position: relative;
	font-size: 18px;
	margin: 10px 0 10px 0;
	font-weight: bold;
    font-style: italic;
}
.siamess-left::before {
	content: "";
	width: 5px;
	background: red;
	position: absolute;
	top: 0;
	left: -10px;
	bottom: 0;
}
.index-wrap-nav {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 5px solid #f95353;
}
.foot-me {
	width: 666.6px;
	margin: 0 auto;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #af6a6a;
	background: #e0dada;
}	
.wrap-foot-me {
	height: 150px;	
}
.image {
	width: 100%;
	height: 100%;
}
.important {

    background-color: #696969;
    position: relative;
    padding:5px 15px;
    margin: 10px 0;
    color: #fff;  
}
.important::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background:#f10604;
    width: 5px;
}