.head {
	width: 100%;
	height: 200px;
	background: #0797C6;
}
.head .head-content {
	width: 1200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	margin: 0 auto;
}
.head h3 {

}
.container {
	width: 666.6px;
	margin: 0 auto;
}
.lead {
	font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.rectangle{
	width: 0;
	height: 0;
	border: 5px solid #000; 
}
.date {
	color: blue;
	font-size: 13px;
}
.siamess-left {
	position: relative;
}
.siamess-left::before {
	content: "";
	width: 5px;
	background: red;
	position: absolute;
	top: 0;
	left: -10px;
	bottom: 0;
}